---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <main class="px-2">
    <SectionContainer class="py-44 pb-32">
      <img
        src="https://placehold.co/600x600"
        alt="profile photo"
        class="rounded-full h-12 w-12 mb-4"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex gap-x-4 pb-6 lg:pb-10">
        Hey, I'm Diego Bermudez <a
          href="https://www.linkedin.com/in/diego-bermudez-lopez-b55885286/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <div class="flex justify-center items-center">
            <Badge>Available to work</Badge>
          </div>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>One year of experience.</span>
        <span class="text-yellow-200/90">
          Full-stack developer specialized in scalable web apps.</span
        >
        <span class="text-red-200/90"> From Lima, Perú 🇵🇪.</span>
        <span class="opacity-75">
          Focused on clean code, DevOps, and cloud deployments.
        </span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/diego-bermudez-lopez-b55885286"
        >
          <LinkedInIcon class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill
          href="https://github.com/D14LB3L0?tab=overview&from=2025-05-01&to=2025-05-04"
        >
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill
          href="https://mail.google.com/mail/?view=cm&fs=1&to=diegobdev2024@gmail.com&su=Work%20Opportunity&body=Hello%20Diego,%0A%0AI%20would%20like%20to%20get%20in%20touch%20regarding%20a%20job%20opportunity."
          target="_blank"
          rel="noopener noreferrer"
        >
          <MailIcon class="size-4 lg:size-6" />
          diegobdev2024@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
        <BriefCaseIcon class="size-7" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
