<header
  id="top"
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto text-gray-100"
>
  <nav
    class="flex flex-col items-center gap-3 md:flex-row md:gap-x-10 opacity-80"
  >
    <a href="#top" class="hover:text-yellow-300 transition">About</a>
    <a href="#experience" class="hover:text-yellow-300 transition">Experience</a
    >
    <a href="#projects" class="hover:text-yellow-300 transition">Projects</a>
  </nav>
</header>
